.input {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input button {
  margin: 10px;
  height: inherit;
  background-color: rgba(18, 16, 110, 0.053);
  border: 1px solid black;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.input button:hover {
  color: rgb(96, 96, 97);
  transition: 0.4s;
}

.input input {
  border: 3px solid black;
  border-radius: 5px;
  font-weight: 700;
}

.result {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}

.itemTodo {
  width: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  background: #f6f6f6;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 4px rgb(2 2 16 / 10%);
  transition: transform 0.3s, box-shadow 0.5s;
}

.itemTodo:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 8px 8px rgb(2 2 16 / 10%);
}
