.input {
  display: flex;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.input button {
  margin: 10px;
  height: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(18, 16, 110, 0.053);
}

.input button:hover {
  transition: 0.4s;
  color: rgb(96, 96, 97);
}

.result p {
  font-weight: 700;
}
