.nav {
  height: 50px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  background-color: rgba(192, 191, 240, 0.162);
  box-shadow: 0px 0px 8px 4px rgb(2 2 16 / 10%);
}

.nav a {
  padding: 20px;
  font-size: 22px;
  padding-right: 50px;
  text-decoration: none;
  backdrop-filter: blur();
  color: rgb(115, 49, 133);
}

.nav a:hover {
  transition: 0.4s;
  color: rgb(244, 244, 255);
}
