.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter button {
  margin: 10px;
  height: 20px;
  width: 30px;
  background-color: rgba(18, 16, 110, 0.053);
  border: 1px solid black;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
}

.counter button:hover {
  color: rgb(96, 96, 97);
  transition: 0.4s;
}
