.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 93vh;
}

.item {
  width: 48%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px 4px rgb(2 2 16 / 5%);
  margin-top: 10px;
  padding: 5px;
}

.item img {
  width: 120px;
}

.title {
  height: fit-content;
  font-size: 13px;
  font-weight: 700;
  box-shadow: 0px 0px 8px 4px rgb(2 2 16 / 5%);
}

.price {
  height: fit-content;
  font-weight: 700;
  color: rgb(115, 49, 133);
  background-color: rgba(76, 76, 77, 0.456);
}

.info {
  width: 270px;
  padding-left: 20px;
}

.description {
  font-size: 12px;
}
